<div class="container">
    <h1>Favorite Movies</h1>
    <hr>
    <div class="">
       <input type="text" class="" (keyup)="filt()"   id="srch" placeholder="Search" >
      <button type="button" id="srchbtn" class="btn btn-sm" (click)="filt()" ><i class="fa fa-search"></i></button>
    </div>
      <br>

    <div class="row" >

            <div class="col-sm-3" *ngFor="let movie of movies" >
                <div class="card"  style="cursor: pointer" >
                    <div class="card-header">

                        <h5 [routerLink]="['/events',movie.id]" >{{movie.title | uppercase}}</h5>
                        <em class="float-right">{{movie.year}}</em>
                    </div>
                    <div class="card-body" [routerLink]="['/events',movie.id]"   (mouseover)="sho()" (mouseout)="hi()"  >
                      <div [ngSwitch]="movie.image" >
                          <span *ngSwitchCase="''">
                              <img src="/assets/images/s-img.jpg" alt="NO Video or Image">
                          </span>
                          <span *ngSwitchDefault>
                            <img class="img-thumbnail" [src]="movie?.large_cover_image" style="max-height:300px" />
                          </span>
                      </div>

                    </div>
                    <div  id="hidd{{movie.id}}" class="card-footer" style="display: none;color: pink; opacity:0.8; width:100%; top:85%;left:0%; background-color: black; position: absolute" >
                        <span class="float-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              Released: &nbsp; {{movie.released}}
                        </span>
                        <span class=""><i class="fa fa-heart " ></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </span>
                    </div>

                </div>
            </div>



    </div>

</div>

